doctype html
html
	head
		meta(charset='utf-8')
		title Unknown Pleasures &ndash; Adventures in webaudio
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
		link(rel='stylesheet', href='styles/reveal.css')
		link(rel='stylesheet', href='styles/theme/white.css')
		link(rel='stylesheet', href='styles/main.css')
	body
		div.reveal
			div.slides
				section(class='intro' data-background-iframe='slide1-bg.html')
					div(style='float:left;margin-top:70px;')
						p Unknown Pleasures
						p Adventures in webaudio
					img(src='assets/up.png' width='300' style='float:right;')
				section(data-background-image='assets/tape-recorder.jpg')
					h3 JavaScript Systems Music
					p Learning Web Audio by Recreating The Works of Steve Reich and Brian Eno
				section
					iframe(src='eno-loops.html' scrolling='no' width='450px' height='600px')
					img(src='assets/mfa.png' width='300' style='float:right;margin-top:150px;')
				section
					img(src='assets/fl.svg' class='fl-logo')
					p Learn to code electronic music tools with JavaScript
					img(src='assets/future-learn.png')
				section
					iframe(src='drums.html' width='460px' height='580px')
				section(data-background-image='assets/audio-reactive.png')
					p Creative Coding: Using the Microphone to Make Sound Reactive Art, Part1…
				section(class='centred')
					iframe(data-src='spectrum-mic.html' width='850px' height='650px')
				section
					img(src='assets/p5js.svg')
					p A JavaScript library inspired by Processing &mdash; to make coding accessible for artists, designers, educators and beginners.
				section
					h4 JS Bin
					img(src='assets/jsbin.png')
				section(class='centred' data-background-color='#191919')
					iframe(data-src='spectrum-blocks.html' width='850px' height='1000px')
				section(class='centred' data-background-color='#161712')
					iframe(data-src='3d-joy-div.html' width='850px' height='650px')
					h6(class='fragment') Thanks
				section
					h4 Meta
					ul
						li
							a(href='https://github.com/GaryHomewood/adventures-in-webaudio') github.com/GaryHomewood/adventures-in-webaudio
						li 
							p
								a(href='https://pin.gy/cli/') Pingy CLI
								span &nbsp;lightweight front-end build tool



		script(src='scripts/reveal.js')
		script(src='scripts/main.js')
		script.
			Reveal.initialize({
				controls: false,
				progress: false,
				slideNumber: false,
				minScale: 1,
				maxScale: 1,
				viewDistance: 1
			})
